*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mds filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# Video files - compressed
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
metric_scores/alpaca/Qwen2.5-3B-Instruct.json filter=lfs diff=lfs merge=lfs -text
metric_scores/alpaca/gemma-2-2b-it.json filter=lfs diff=lfs merge=lfs -text
metric_scores/alpaca/gemma-2-9b-it.json filter=lfs diff=lfs merge=lfs -text
metric_scores/gsm8k/Qwen2.5-3B-Instruct.json filter=lfs diff=lfs merge=lfs -text
metric_scores/gsm8k/gemma-2-2b-it.json filter=lfs diff=lfs merge=lfs -text
metric_scores/gsm8k/gemma-2-9b-it.json filter=lfs diff=lfs merge=lfs -text
metric_scores/mmlu/Qwen2.5-3B-Instruct.json filter=lfs diff=lfs merge=lfs -text
metric_scores/mmlu/gemma-2-2b-it.json filter=lfs diff=lfs merge=lfs -text
metric_scores/mmlu/gemma-2-9b-it.json filter=lfs diff=lfs merge=lfs -text
paraphrase_answers/alpaca/Qwen2.5-3B-Instruct.json filter=lfs diff=lfs merge=lfs -text
paraphrase_answers/alpaca/gemma-2-2b-it.json filter=lfs diff=lfs merge=lfs -text
paraphrase_answers/alpaca/gemma-2-9b-it.json filter=lfs diff=lfs merge=lfs -text
paraphrase_answers/gsm8k/Qwen2.5-3B-Instruct.json filter=lfs diff=lfs merge=lfs -text
paraphrase_answers/gsm8k/gemma-2-2b-it.json filter=lfs diff=lfs merge=lfs -text
paraphrase_answers/gsm8k/gemma-2-9b-it.json filter=lfs diff=lfs merge=lfs -text
paraphrase_answers/mmlu/Qwen2.5-3B-Instruct.json filter=lfs diff=lfs merge=lfs -text
paraphrase_answers/mmlu/gemma-2-2b-it.json filter=lfs diff=lfs merge=lfs -text
paraphrase_answers/mmlu/gemma-2-9b-it.json filter=lfs diff=lfs merge=lfs -text
prompts_paraphrases/alpaca_500.json filter=lfs diff=lfs merge=lfs -text
prompts_paraphrases/finetuning_50k.json filter=lfs diff=lfs merge=lfs -text
prompts_paraphrases/gsm8k_500.json filter=lfs diff=lfs merge=lfs -text
prompts_paraphrases/mmlu_500.json filter=lfs diff=lfs merge=lfs -text
samples/paraphrase_answers/alpaca/Qwen2.5-3B-Instruct_sample100.json filter=lfs diff=lfs merge=lfs -text
samples/paraphrase_answers/alpaca/gemma-2-2b-it_sample100.json filter=lfs diff=lfs merge=lfs -text
samples/paraphrase_answers/alpaca/gemma-2-9b-it_sample100.json filter=lfs diff=lfs merge=lfs -text
samples/paraphrase_answers/gsm8k/Qwen2.5-3B-Instruct_sample100.json filter=lfs diff=lfs merge=lfs -text
samples/paraphrase_answers/gsm8k/gemma-2-2b-it_sample100.json filter=lfs diff=lfs merge=lfs -text
samples/paraphrase_answers/gsm8k/gemma-2-9b-it_sample100.json filter=lfs diff=lfs merge=lfs -text
samples/paraphrase_answers/mmlu/Qwen2.5-3B-Instruct_sample100.json filter=lfs diff=lfs merge=lfs -text
samples/paraphrase_answers/mmlu/gemma-2-2b-it_sample100.json filter=lfs diff=lfs merge=lfs -text
samples/paraphrase_answers/mmlu/gemma-2-9b-it_sample100.json filter=lfs diff=lfs merge=lfs -text
samples/prompts_paraphrases/gsm8k_500_sample100.json filter=lfs diff=lfs merge=lfs -text
samples/prompts_paraphrases/mmlu_500_sample100.json filter=lfs diff=lfs merge=lfs -text
prompts_paraphrases/alpaca_available.json filter=lfs diff=lfs merge=lfs -text
responses/core_models/core_model_responses_and_scores.json filter=lfs diff=lfs merge=lfs -text
scores/paper_reproduction/tf_long_data.csv filter=lfs diff=lfs merge=lfs -text
